body, html {
	height: 100%;
	width: 800px;
	margin: auto;
}

#root {
	height: 100%;
}

.App {
	height: 100%;
	background-color: white;
}

.App-header {
	text-align: center;
}

.App-nav {
	margin-bottom: 2em;
}

.App-nav a {
	text-decoration: none;
	color: #36459b;
	margin: 0 1em;
}

.App-nav a:hover {
	text-decoration: underline;
}

.App-nav a:first-child {
	margin-left: 0;
}

.App-link {
	color: #61dafb;
}

.mtable {
	margin-top: 20px;
	width: 100%;
	/* border: 1px solid black; */
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 3px 10px;
}

table>thead>tr {
	background-color: #fff !important;
}

table tr:nth-child(even) {
	background-color: #fff;
}

table tr:nth-child(odd) {
	background-color: #eee;
}

.progress-bar {
	border: 1px solid #444;
	background-color: white;
	height: 20px;
	width: 100%;
}

.progress-inbar {
	height: 100%;
	background-color: #666;
}

.detail {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.left-side, .right-side {
	width: 45%;
}

.left-side>input {
	width: 90%;
}

.left-side>button {
	width: 100px;
	float: right;
	margin-top: 5px;
	margin-right:10%;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center>h1 {
	margin-bottom: 0;
}